<div id="post-list" style="max-width:800px;">
  <div class="ui divided items">
    <% if (locals.entries) { %>
      <% for (entry of locals.entries) { %>
        <%- include('../components/blog_entry', {post: entry}) %>
      <% } %>
    <% } else { %>
      <div class="ui negative message">
        <p>Unable to retriev blog posts. :(</p>
      </div>
    <% } %>
  </div>
</div>
