<h1>Welcome!</h1>
<h2>What a <%= adjective %> node blog :)</h2>
<div style="float:right;">
Layout style
  <div class="ui small basic icon buttons">
    <button class="ui button"><i class="list layout icon"></i></button>
    <button class="ui button"><i class="square icon"></i></button>
  </div>
</div>

<div class="post-list">
  <div class="ui divided items">
    <% if (locals.entries) { %>
      <% for (entry of locals.entries) { %>
        <%- include('../components/blog_entry', {post: entry}) %>
      <% } %>
    <% } else { %>
      <div class="ui negative message">
        <p>Unable to retriev blog posts. :(</p>
      </div>
    <% } %>
  </div>
</div>
<div class="page-indicator">
  <% include ../components/pager%>
</div>
