<div class="ui inverted attached stackable menu">
  <div class="ui container">
    <a class="item">
      <%= locals.title %>
    </a>
      <a class="item">
        <i class="home icon"></i> Home
      </a>
    <a class="item">
      <i class="info circle icon"></i> About me
    </a>
    <a class="item">
      <i class="mail icon"></i> Contact
    </a>
    <a class="item">
      <i class="github square icon"></i> Github
    </a>
  </div>
</div>
