<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <meta charset="utf-8">
  <style>
    .main.container{
      margin-top: 3em;
      margin-bottom: 3em;
      margin-left: 3em;
    }
    .post-list {
      margin-top: 3em;
    }
    .page-indicator {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    .button.social {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .avatar-pic {
      margin-bottom: 0.5em;
    }
    .sidebar-title {
      text-align: center;
    }
  </style>
  <title><%= locals.title %></title>
</head>
<body>
<!-- BODY STARTS HERE -->
