<div class="ui centered grid">
  <button class="ui labeled icon button">
    <i class="left arrow icon"></i>
    Previous
  </button>
  <button class="ui right labeled icon button">
    <i class="right arrow icon"></i>
    Next
  </button>
</div>
