<div class="ui segment">
  <h3 class="sidebar-title">What a great side bar</h3>
  <img class="ui centered rounded image avatar-pic" src="../../images/avatar-placeholder.png" alt="">
  <p>Let's put some super interesting stuff in here!</p>
  <p>Like cool buttons</p>
  <div class="ui centered grid">
  <button class="ui facebook button social">
    <i class="facebook icon"></i>
    Facebook
  </button>
  <button class="ui twitter button social">
    <i class="twitter icon"></i>
    Twitter
  </button>
  <button class="ui linkedin button social">
    <i class="linkedin icon"></i>
    LinkedIn
  </button>
  </div>
</div>
