<% include ../components/html_begins %>

<div class="ui stackable grid">
  <div class="left floated three wide column" id="sidebar" style="background-color:black;">
    <div class="ui rail" style="width:200px;clear:both;margin:0 auto;position:relative;">
      <div class="ui sticky">
        <div id="title">
          <i class="red huge asterisk icon"></i>
          <h1>Hello World!</h1>
        </div>
        <div id="menu">
          <div class="ui inverted link list">
            <a class="item">Home</a>
            <a class="item">About</a>
            <a class="item">Jobs</a>
            <a class="item">Team</a>
          </div>
        </div>
        <div id="social">
          <button class="ui twitter button social">
            <i class="twitter icon"></i>
            Twitter
          </button>
          <button class="ui linkedin button social">
            <i class="linkedin icon"></i>
            LinkedIn
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right floated thirteen wide column">
    <div class="ui main container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus urna tempus tortor imperdiet, at luctus dolor accumsan. Aliquam a ligula commodo, imperdiet nulla eu, congue nisl. Proin augue sapien, laoreet id ante gravida, rhoncus accumsan neque. Fusce in ornare enim. Nam et ultricies lorem. Phasellus laoreet sit amet tortor sit amet porta. Nulla pretium urna risus, ac molestie enim fringilla a. Pellentesque ut venenatis felis, quis iaculis ipsum. Integer vulputate tortor sed nisi consectetur, at imperdiet eros dictum. Suspendisse imperdiet purus nisl, imperdiet condimentum urna porta vel. Quisque imperdiet luctus aliquet. Nunc massa nisi, congue id tincidunt vel, cursus nec ex. Vivamus facilisis dignissim massa, sit amet elementum orci euismod vel. Etiam felis odio, viverra nec felis ac, blandit mollis nulla.

Phasellus risus tellus, consequat vel pharetra ac, maximus et sem. In placerat placerat mi, sit amet rhoncus leo pulvinar eget. Fusce at odio sit amet nisi ornare aliquam. Mauris feugiat elit at dui iaculis consequat. Suspendisse elementum ornare neque, et dignissim nibh rutrum non. Ut egestas velit justo, suscipit finibus sapien mollis et. Mauris tincidunt mauris quis finibus lobortis. Pellentesque diam purus, bibendum ac semper sit amet, venenatis vel ex. Fusce mollis blandit tortor, a ultricies nulla tempor sit amet. Quisque quis tincidunt mauris. Donec commodo mi vel lorem varius tincidunt. Phasellus vitae congue nunc, eget fermentum felis. Proin consectetur justo ac neque gravida, quis rutrum tortor convallis.

Nunc congue consequat ante, ac ultricies urna efficitur eget. Vestibulum ornare, justo quis mollis bibendum, neque tortor ultricies neque, non ultricies ligula eros in nulla. Quisque consectetur quam lacus, eget rutrum risus maximus et. Aliquam ac urna nunc. In auctor ipsum vitae nisl sodales imperdiet. Suspendisse hendrerit justo in erat molestie, ut eleifend odio venenatis. Donec tempor lacus at semper scelerisque. Quisque a blandit libero. Phasellus auctor, lectus vel hendrerit elementum, nisl mi mollis tellus, sit amet viverra velit eros sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra dui vel felis iaculis, nec vulputate nisi mollis. Sed nec elit eu eros porttitor auctor. Nunc ac pellentesque lectus. Curabitur eget semper lectus, auctor iaculis ligula. Nulla nulla purus, malesuada vitae fermentum eu, placerat non purus.

Morbi ultrices pharetra ex, sed pharetra orci blandit vel. Curabitur fringilla pulvinar risus ac lobortis. Etiam in euismod justo. Aliquam rutrum nulla mollis, eleifend purus et, fringilla lectus. Donec finibus scelerisque augue. Nullam scelerisque mi et lobortis facilisis. Integer rhoncus, dui eget vulputate ultricies, ex enim blandit lectus, sit amet eleifend urna odio et lacus. Pellentesque laoreet ligula non ligula laoreet, at tempor lorem ultrices. Integer justo quam, egestas at pellentesque pellentesque, accumsan vel dui. Quisque venenatis vestibulum eros, a vehicula nunc fermentum sit amet.

Suspendisse ullamcorper, quam quis elementum tempus, libero metus sollicitudin libero, ut mollis quam lorem sit amet dolor. Vestibulum maximus scelerisque congue. Vestibulum eu lacinia libero, vitae fringilla neque. Ut elementum elit lorem, at scelerisque justo pretium sed. Proin eget lectus vel quam maximus hendrerit. Donec gravida, quam quis viverra vestibulum, mauris magna pellentesque erat, vel vulputate augue sapien a leo. Suspendisse eu erat vel purus blandit accumsan. Donec iaculis ultricies iaculis. Morbi at tellus ullamcorper, accumsan tortor in, rhoncus justo. Sed purus velit, ultricies vitae nibh in, tristique varius odio. Fusce urna orci, pretium fringilla placerat sit amet, dapibus et mauris. Sed maximus finibus nibh, vel vehicula velit scelerisque ut.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus urna tempus tortor imperdiet, at luctus dolor accumsan. Aliquam a ligula commodo, imperdiet nulla eu, congue nisl. Proin augue sapien, laoreet id ante gravida, rhoncus accumsan neque. Fusce in ornare enim. Nam et ultricies lorem. Phasellus laoreet sit amet tortor sit amet porta. Nulla pretium urna risus, ac molestie enim fringilla a. Pellentesque ut venenatis felis, quis iaculis ipsum. Integer vulputate tortor sed nisi consectetur, at imperdiet eros dictum. Suspendisse imperdiet purus nisl, imperdiet condimentum urna porta vel. Quisque imperdiet luctus aliquet. Nunc massa nisi, congue id tincidunt vel, cursus nec ex. Vivamus facilisis dignissim massa, sit amet elementum orci euismod vel. Etiam felis odio, viverra nec felis ac, blandit mollis nulla.

Phasellus risus tellus, consequat vel pharetra ac, maximus et sem. In placerat placerat mi, sit amet rhoncus leo pulvinar eget. Fusce at odio sit amet nisi ornare aliquam. Mauris feugiat elit at dui iaculis consequat. Suspendisse elementum ornare neque, et dignissim nibh rutrum non. Ut egestas velit justo, suscipit finibus sapien mollis et. Mauris tincidunt mauris quis finibus lobortis. Pellentesque diam purus, bibendum ac semper sit amet, venenatis vel ex. Fusce mollis blandit tortor, a ultricies nulla tempor sit amet. Quisque quis tincidunt mauris. Donec commodo mi vel lorem varius tincidunt. Phasellus vitae congue nunc, eget fermentum felis. Proin consectetur justo ac neque gravida, quis rutrum tortor convallis.

Nunc congue consequat ante, ac ultricies urna efficitur eget. Vestibulum ornare, justo quis mollis bibendum, neque tortor ultricies neque, non ultricies ligula eros in nulla. Quisque consectetur quam lacus, eget rutrum risus maximus et. Aliquam ac urna nunc. In auctor ipsum vitae nisl sodales imperdiet. Suspendisse hendrerit justo in erat molestie, ut eleifend odio venenatis. Donec tempor lacus at semper scelerisque. Quisque a blandit libero. Phasellus auctor, lectus vel hendrerit elementum, nisl mi mollis tellus, sit amet viverra velit eros sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra dui vel felis iaculis, nec vulputate nisi mollis. Sed nec elit eu eros porttitor auctor. Nunc ac pellentesque lectus. Curabitur eget semper lectus, auctor iaculis ligula. Nulla nulla purus, malesuada vitae fermentum eu, placerat non purus.

Morbi ultrices pharetra ex, sed pharetra orci blandit vel. Curabitur fringilla pulvinar risus ac lobortis. Etiam in euismod justo. Aliquam rutrum nulla mollis, eleifend purus et, fringilla lectus. Donec finibus scelerisque augue. Nullam scelerisque mi et lobortis facilisis. Integer rhoncus, dui eget vulputate ultricies, ex enim blandit lectus, sit amet eleifend urna odio et lacus. Pellentesque laoreet ligula non ligula laoreet, at tempor lorem ultrices. Integer justo quam, egestas at pellentesque pellentesque, accumsan vel dui. Quisque venenatis vestibulum eros, a vehicula nunc fermentum sit amet.

Suspendisse ullamcorper, quam quis elementum tempus, libero metus sollicitudin libero, ut mollis quam lorem sit amet dolor. Vestibulum maximus scelerisque congue. Vestibulum eu lacinia libero, vitae fringilla neque. Ut elementum elit lorem, at scelerisque justo pretium sed. Proin eget lectus vel quam maximus hendrerit. Donec gravida, quam quis viverra vestibulum, mauris magna pellentesque erat, vel vulputate augue sapien a leo. Suspendisse eu erat vel purus blandit accumsan. Donec iaculis ultricies iaculis. Morbi at tellus ullamcorper, accumsan tortor in, rhoncus justo. Sed purus velit, ultricies vitae nibh in, tristique varius odio. Fusce urna orci, pretium fringilla placerat sit amet, dapibus et mauris. Sed maximus finibus nibh, vel vehicula velit scelerisque ut.
      </p>
    </div>
  </div>
</div>

<% include ../components/html_ends %>
