<% include ../components/html_begins %>
<% include ../components/header %>


<div class="ui main container" id="blog">
<div class="ui stackable grid">
  <div class="eleven wide column">
    <% include ../components/entry_list%>
  </div>
  <div class="five wide column">
    <% include ../components/side_bar%>
  </div>
</div>
</div>

<% include ../components/html_ends %>
